.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    font-size: 3rem;
    font-family: $font__main;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color__background-body;
  }
}

.about-content {
  margin: 3rem auto;
  max-width: 800px;
  margin-bottom: 5rem;
  h2 {
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
    font-family: $font__main;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
