.site-footer {
  display: flex;
  flex-wrap: wrap;
  height: 354px;
  background-image: url(../../assets/images/dark-wood.png);
  color: white;
  justify-content: space-between;
  h3 {
    font-family: 'Novecentos', sans-serif;
    color: #d99054;
    font-size: 1.2rem;
  }
  ul {
    font-family: 'Merriweather', serif;
    list-style: none;
  }
  .contact-info,
  .hours {
    display: inline-block;
    margin-left: 10vw;
    ul {
      padding: 0;
      margin-left: 0;
    }
  }
}

.footer-logo {
  display: inline-block;
  margin-right: 165px;
  margin-top: 60px;
  max-width: 275px;
}

.copyright {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 100px;
}
