.container {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}

.home-hero {
  height: 100%;
  background-image: url(../../assets/images/home-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  //   display: flex;
  //   justify-content: center;
  //chaneg
  .logo {
    margin-left: 41vw;
    margin-top: 25vh;
  }
}

.product-info {
  text-align: center;
  .product-type-blocks {
    display: flex;
    justify-content: space-between;
    .product-type-block-wrapper {
      border: 1px solid #e1e1e1;
      border-top-width: 5px;
      text-align: center;
      padding: 0.75rem;
      flex: 0 1 23.5%;
      max-width: 23.5%;
      img {
        height: 70px;
        width: 70px;
      }
      .btn {
        background: #248a83;
        border: none;
        border-radius: 0;
        color: #fff;
        cursor: pointer;
        font-family: Novecento Sans Web, sans-serif;
        font-size: 14.4px;
        font-size: 0.9rem;
        line-height: 1;
        padding: 0.75rem 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

.latest-enteries {
  //   display: flex;
  text-align: center;
  ul {
    text-align: left;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    li {
      border: 1px solid #e1e1e1;
      flex: 0 1 32%;
      position: relative;
      .thumbnail-wrapper {
        background-color: #e1e1e1;
        height: 250px;
        overflow: hidden;
        position: relative;
        img {
          left: 50%;
          max-height: 250px;
          max-width: none;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -52%);
          width: auto;
          height: auto;
          border: 0;
        }
      }
      .post-info-wrapper {
        flex-direction: column;
        justify-content: space-between;
        padding: 0.75rem;
        .entry-meta {
          font-size: 0.75rem;
          .entry-title {
            font-size: 1.3rem;
            margin-bottom: 3.75rem;
            font-family: Novecento Sans Web, sans-serif;
            text-transform: uppercase;
            a {
              color: #248a83;
              text-decoration: none;
              &:hover {
                color: black;
              }
            }
          }
        }
      }
      .black-btn {
        border: none;
        border-radius: 0;
        color: #fff;
        cursor: pointer;
        font-family: Novecento Sans Web, sans-serif;
        font-size: 14.4px;
        font-size: 0.9rem;
        line-height: 1;
        padding: 0.75rem 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        position: absolute;
        bottom: 0.75rem;
        left: 0.75rem;
        background-color: transparent;
        border: 1px solid #000;
        color: #000;
        &:hover {
          background: #248a83;
          color: white;
          border: none;
        }
      }
    }
  }
}

.home-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 3.75rem;
  font-family: Novecento Sans Web, sans-serif;
  letter-spacing: 2px;
}

.adventures {
  display: flex;
  justify-content: center;
  margin-left: 12vw;
  .adventure-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 2fr;
    grid-gap: 20px 20px;
    width: 100%;

    .story-title {
      text-align: left;
      margin-left: 1.5rem;
      a {
        text-decoration: none;
        color: #fff;
        text-align: left;
        font-family: 'Merriweather', serif;
        font-weight: 400;
        &:hover {
          color: #f2e5d0;
        }
      }
    }

    .grid-item-1 {
      height: 550px;
      width: 550px;
      grid-area: 1 / 1 / 3 / 2;
      background-image: url(../../assets/images/canoe-girl.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .story-title {
        a {
          font-size: 2.4rem;
        }
      }
    }
    .grid-item-2 {
      background-color: blue;
      height: 265px;
      width: 550px;
      grid-area: 1 / 2 / 2 / 4;
      background-image: url(../../assets/images/beach-bonfire.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .story-title {
        a {
          font-size: 2.4rem;
        }
      }
    }
    .grid-item-3 {
      background-color: teal;
      height: 265px;
      width: 265px;
      grid-area: 2 / 2 / 3 / 3;
      background-image: url(../../assets/images/mountain-hikers.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .story-title {
        a {
          font-size: 1.6rem;
        }
      }
    }
    .grid-item-4 {
      background-color: coral;
      height: 265px;
      width: 265px;
      grid-area: 2 / 3 / 3 / 4;
      background-image: url(../../assets/images/night-sky.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .story-title {
        a {
          font-size: 1.6rem;
        }
      }
    }
    .white-btn {
      background: none;
      border: solid 2px white;
      border-radius: 0;
      color: #fff;
      cursor: pointer;
      font-family: Novecento Sans Web, sans-serif;
      font-size: 14.4px;
      font-size: 0.9rem;
      line-height: 1;
      padding: 0.75rem 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      margin: 1.5rem;
      &:hover {
        background-color: #008e85;
        border: none;
      }
    }
  }
}
