// Contains the styling for all pages with a sidebar

.blog,
.single,
.error404,
.date {
  .container {
    display: flex;
    .primary {
      padding-bottom: 4rem;
      padding-top: 3rem;
      border-right: 2px solid #e1e1e1;
      padding-right: 5%;
      width: 73%;
      height: 100%;
      min-height: 100vh;
      display: inline-block;
      .entry-header {
        line-height: 0;
        position: relative;
        img {
          height: auto;
          max-width: 100%;
          width: 760.59px;
        }
        .entry-title {
          background-color: #248a83;
          color: #fff;
          font-size: 33.6px;
          font-size: 2.1rem;
          left: 0;
          padding: 0.75rem 1.5rem;
          position: absolute;
          margin-top: 2.25rem;
          height: 107px;
          width: 570px;
          top: 0;
          line-height: 1.25;
          text-decoration: none;
          color: white;
          font-family: Novecento Sans Web, sans-serif;
          letter-spacing: 2px;
          text-transform: uppercase;
          a {
            text-decoration: none;
            color: white;
            &:hover {
              color: #f2e5d0;
            }
          }
        }
        .entry-meta {
          background-color: #248a83;
          bottom: 0;
          color: #fff;
          display: inline-block;
          font-family: Novecento Sans Web, sans-serif;
          padding: 1.00005rem 1.5rem;
          position: absolute;
          right: 0;
          text-transform: uppercase;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
      .entry-content {
        margin-bottom: 5rem;
        .black-btn {
          box-shadow: none;
          border-radius: 0;
          background-color: transparent;
          border: 1px solid #000;
          color: #000;
          cursor: pointer;
          font-family: Novecento Sans Web, sans-serif;
          font-size: 14.4px;
          font-size: 0.9rem;
          line-height: 1;
          padding: 0.75rem 1.5rem;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
      .error-404 {
        .widget {
          ul {
            margin: 0;
            padding: 0;
            li {
              list-style: none;
              a {
                text-decoration: none;
                color: #008e85;
              }
            }
          }
        }
        .search-form {
          .search-submit {
            display: none;
          }
          .search-field {
            text-transform: none;
            padding: 0.3rem;
            color: #666;
            background-color: #f4f4f4;
            border: 1px solid #e1e1e1;
            border-radius: 0;
          }
        }
      }
      .social-buttons {
        margin: 1.5rem 0;
        .black-btn {
          box-shadow: none;
          border-radius: 0;
          box-shadow: none;
          border-radius: 0;
          background-color: transparent;
          border: 1px solid #000;
          color: #000;
          cursor: pointer;
          font-family: Novecento Sans Web, sans-serif;
          font-size: 14.4px;
          font-size: 0.9rem;
          line-height: 1;
          padding: 0.75rem 1.5rem;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            background: #008e85;
            color: white;
            border: none;
          }
        }
      }
      .entry-footer {
        font-family: Novecento Sans Web, sans-serif;
        text-transform: uppercase;
        a {
          text-decoration: none;
          color: #008e85;
        }
        .cat-links {
          margin-right: 1.5rem;
        }
      }
      .logged-in-as {
        display: none;
      }
      .comments-area {
        .comment-form {
          textarea,
          #author,
          #email,
          #url {
            background: #f4f4f4;
            border-radius: 0;
          }
          .comment-form-author,
          .comment-form-email {
            float: left; //sorry it works
          }
          .comment-form-url {
            clear: left;
            width: 100%;
            input {
              width: 100%;
            }
          }
          .comment-form-author {
            margin-right: 1%;
            width: 49%;
            input {
              width: 100%;
            }
          }
          .comment-form-email {
            margin-left: 1%;
            width: 49%;
            input {
              width: 100%;
            }
          }
        }
        .comments-title {
          color: #2f1339;
          font-size: 2.1rem;
          font-family: Novecento Sans Web, sans-serif;
          letter-spacing: 2px;
          text-transform: uppercase;
          margin-top: 4rem;
        }
        .comment-list {
          margin-left: 0;
          padding-left: 0;
          .comment-body {
            display: flex;
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 1.5rem;
            padding-top: 1.5rem;
            .comment-content {
              .comment-author {
                font-style: normal;
                font-weight: 700;
              }
              time {
                color: gray;
              }
            }
            .comment-author-avatar {
              border-radius: 50%;
              height: 64px;
              margin-right: 1.5rem;
              overflow: hidden;
              width: 64px;
            }
            a {
              text-decoration: none;
              color: #008e85;
            }
          }
        }
        .comment-reply-title {
          color: #404040;
          font-size: 1.8rem;
          line-height: 1.25;
          margin-top: 1.5rem;
          clear: both;
          font-family: Novecento Sans Web, sans-serif;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
        label {
          color: #2f1339;
          display: block;
          font-family: Novecento Sans Web, sans-serif;
          font-size: 17.6px;
          font-size: 1.1rem;
          margin-bottom: 0.5rem;
          text-transform: uppercase;
        }
        .submit {
          background: #248a83;
          border: none;
          border-radius: 0;
          color: #fff;
          cursor: pointer;
          font-family: Novecento Sans Web, sans-serif;
          font-size: 14.4px;
          font-size: 0.9rem;
          line-height: 1;
          padding: 0.75rem 1.5rem;
          text-decoration: none;
          text-transform: uppercase;
          box-shadow: none;
          &:hover {
            background: #00655e;
          }
        }
      }
    }
    .secondary {
      padding-left: 5%;
      width: 27%;
      height: 100%;
      min-height: 100vh;
      display: inline-block;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: #008e85;
          }
        }
      }
    }
  }
}

.side-by-side {
  .container {
    display: flex;
    .primary {
      border-right: 2px solid #e1e1e1;
      padding-right: 5%;
      width: 73%;
      height: 100%;
      min-height: 100vh;
      display: inline-block;
      .page-header {
        text-align: left;
      }
      .entry-title {
        a {
          text-decoration: none;
          color: #008e85;
          font-family: Novecento Sans Web, sans-serif;
          letter-spacing: 2px;
          text-transform: uppercase;
          font-size: 2.1rem;
          margin-bottom: 1.5rem;
          &:hover {
            color: #2f1339;
          }
        }
      }
      .black-btn {
        text-decoration: none;
        background-color: transparent;
        border: 1px solid #000;
        color: #000;
        cursor: pointer;
        font-family: Novecento Sans Web, sans-serif;
        font-size: 14.4px;
        font-size: 0.9rem;
        line-height: 1;
        padding: 0.75rem 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          background: #008e85;
          color: white;
          border: none;
          box-shadow: none;
        }
      }
    }
    .secondary {
      padding-left: 5%;
      width: 27%;
      height: 100%;
      min-height: 100vh;
      display: inline-block;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: #008e85;
          }
        }
      }
      .custom-html-widget {
        a {
          text-decoration: none;
          color: #008e85;
          &:hover {
            color: #2f1339;
          }
        }
      }
      h2 {
        font-size: 1.5rem;
        color: #2f1339;
        font-family: Novecento Sans Web, sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      .day-of-week {
        font-weight: 700;
      }
    }
  }
}

.page-id-103 {
  .container {
    h1 {
      color: #404040;
      line-height: 1.75;
      font-family: Novecento Sans Web, sans-serif;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 2em;
      margin-top: 2rem;
    }
    h2 {
      font-size: 2.1rem;
      margin-bottom: 1.5rem;
      color: #2f1339;
      font-family: Novecento Sans Web, sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .wpcf7-form {
      .required {
        color: #d99054;
      }
      margin-bottom: 5rem;
      text-transform: uppercase;
      color: #2f1339;
      display: block;
      font-family: Novecento Sans Web, sans-serif;
      font-size: 17.6px;
      font-size: 1.1rem;
      margin-bottom: 6rem;
      input,
      textarea {
        background-color: #f4f4f4;
        border-radius: 0;
      }
      .wpcf7-submit {
        background: #248a83;
        border: none;
        border-radius: 0;
        color: #fff;
        cursor: pointer;
        font-family: Novecento Sans Web, sans-serif;
        font-size: 14.4px;
        font-size: 0.9rem;
        line-height: 1;
        padding: 0.75rem 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        box-shadow: none;
        &:hover {
          background: #00655e;
        }
      }
    }
  }
}

.search {
  .primary {
    padding-bottom: 4rem;
    .entry-meta {
      font-family: Novecento Sans Web, sans-serif;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1.75;
    }
  }
  .page-header {
    border-bottom: 1px solid #c8c8c8;
    padding: 0;
  }
  .entry-summary {
    margin-bottom: 4rem;
  }
}

.error404 {
  .container {
    padding-top: 0;
    .primary {
      padding-top: 0;
      .page-header {
        padding: 0;
        margin: 0;
        border: none;
        line-height: 1.25;
        .page-title {
          color: #404040;
        }
      }
      h2 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        font-family: Novecento Sans Web, sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
  }
}

.date {
  .container {
    .primary {
      padding-top: 0;
      .page-header {
        padding: 0;
        border-bottom: 1px solid #c8c8c8;
        .page-title {
          font-family: Novecento Sans Web, sans-serif;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #404040;
        }
      }
      .entry-content {
        margin-bottom: 5rem;
      }
    }
  }
}
