.blog,
.single {
  .container {
    display: flex;
    .primary {
      padding-top: 3rem;
      border-right: 2px solid #e1e1e1;
      padding-right: 5%;
      width: 73%;
      height: 100%;
      min-height: 100vh;
      display: inline-block;
      .entry-header {
        line-height: 0;
        position: relative;
        img {
          height: auto;
          max-width: 100%;
          width: 760.59px;
        }
        .entry-title {
          background-color: #248a83;
          color: #fff;
          font-size: 33.6px;
          font-size: 2.1rem;
          left: 0;
          padding: 0.75rem 1.5rem;
          position: absolute;
          margin-top: 2.25rem;
          height: 107px;
          width: 570px;
          top: 0;
          line-height: 1.25;
          text-decoration: none;
          color: white;
          font-family: Novecento Sans Web, sans-serif;
          letter-spacing: 2px;
          text-transform: uppercase;
          a {
            text-decoration: none;
            color: white;
            &:hover {
              color: #f2e5d0;
            }
          }
        }
        .entry-meta {
          background-color: #248a83;
          bottom: 0;
          color: #fff;
          display: inline-block;
          font-family: Novecento Sans Web, sans-serif;
          padding: 1.00005rem 1.5rem;
          position: absolute;
          right: 0;
          text-transform: uppercase;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
      .entry-content {
        .black-btn {
          background-color: transparent;
          border: 1px solid #000;
          color: #000;
          cursor: pointer;
          font-family: Novecento Sans Web, sans-serif;
          font-size: 14.4px;
          font-size: 0.9rem;
          line-height: 1;
          padding: 0.75rem 1.5rem;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
      .error-404 {
        .widget {
          ul {
            margin: 0;
            padding: 0;
            li {
              list-style: none;
              a {
                text-decoration: none;
                color: #008e85;
              }
            }
          }
        }
      }
      .social-buttons {
        margin: 1.5rem 0;
        .black-btn {
          background-color: transparent;
          border: 1px solid #000;
          color: #000;
          cursor: pointer;
          font-family: Novecento Sans Web, sans-serif;
          font-size: 14.4px;
          font-size: 0.9rem;
          line-height: 1;
          padding: 0.75rem 1.5rem;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            background: #008e85;
            color: white;
            border: none;
          }
        }
      }
    }
    .secondary {
      padding-left: 5%;
      width: 27%;
      height: 100%;
      min-height: 100vh;
      display: inline-block;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: #008e85;
          }
        }
      }
    }
  }
}

.side-by-side {
  .container {
    display: flex;
    .primary {
      border-right: 2px solid #e1e1e1;
      padding-right: 5%;
      width: 73%;
      height: 100%;
      min-height: 100vh;
      display: inline-block;
      .page-header {
        text-align: left;
      }
      .entry-title {
        a {
          text-decoration: none;
          color: #008e85;
          font-family: Novecento Sans Web, sans-serif;
          letter-spacing: 2px;
          text-transform: uppercase;
          font-size: 2.1rem;
          margin-bottom: 1.5rem;
          &:hover {
            color: #2f1339;
          }
        }
      }
      .black-btn {
        text-decoration: none;
        background-color: transparent;
        border: 1px solid #000;
        color: #000;
        cursor: pointer;
        font-family: Novecento Sans Web, sans-serif;
        font-size: 14.4px;
        font-size: 0.9rem;
        line-height: 1;
        padding: 0.75rem 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          background: #008e85;
          color: white;
          border: none;
        }
      }
    }
    .secondary {
      padding-left: 5%;
      width: 27%;
      height: 100%;
      min-height: 100vh;
      display: inline-block;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: #008e85;
          }
        }
      }
      .custom-html-widget {
        a {
          text-decoration: none;
          color: #008e85;
          &:hover {
            color: #2f1339;
          }
        }
      }
      h2 {
        font-size: 1.5rem;
        color: #2f1339;
        font-family: Novecento Sans Web, sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      .day-of-week {
        font-weight: 700;
      }
    }
  }
}
