.single-product {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .product-image {
    margin-left: 100px;
    height: 358px;
    width: 538px;
  }
  .content-wrapper {
    width: 537px;
    .product-title {
      h1 {
        color: #e58d48;
        clear: both;
        font-family: Novecento Sans Web, sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      .product-price {
        font-family: Novecento Sans Web, sans-serif;
        font-size: 28.8px;
        font-size: 1.8rem;
        margin-top: 0;
        text-transform: uppercase;
        color: red;
      }
    }
  }
}
